boto==2.48.0
boto3==1.7.49
botocore==1.10.49
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gensim==3.4.0
idna==2.7
isodate==0.6.0
jmespath==0.9.3
joblib==0.12.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
Pillow==8.3.2
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
rdflib==4.2.2
requests==2.20.0
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.6.0
SPARQLWrapper==1.8.2
torch==0.4.0
torchvision==0.2.1
urllib3==1.24.2
